.profile-container {
    width: 100%;
    height: 60vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.profile-btn {
    width: 200px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}
.profile-logout {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 40%;
}