.profile-container {
    width: 100%;
    height: 100vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-color: whitesmoke;
}
.profile-image {
    width: 100%;
    height: 55vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.profile-btn {
    width: 200px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}
.profile-logout {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 40%;
}


.profile-pic {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    margin-top: 25px;
    
}

.profile-info {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-name {
    font-size: 80px;
}
.profile-bio {
    font-size: 40px;
}

.profile-games-list {
    /* margin-top: 30px; */
    /* display: flex; */
    /* flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
}

.game-list{
    margin: 10px 0px;
    flex-wrap: wrap;
    /* overflow-wrap: normal; */
}

.btn-flip {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
}
/* 
.h2-game-list{
    text-align: center;
    margin-top: 50px;
} */

.btn-list {
    height: 60px;
    width: 300px;
    box-shadow: 10px 5px 10px gray;
}

.button-margin {
    margin: 0px 10px;
}

.btn-g {
    margin-top: 10px;
}
/* .front {
    height: 50%;
} */




