.profile-container {
    width: 100%;
    min-height: 100vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.profile-image {
    width: 100%;
    height: 30vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.profile-btn {
    width: 200px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}
.profile-logout {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 40%;
}


.profile-pic {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    margin-top: 25px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-name {
    font-size: 60px;
}
.profile-bio {
    font-size: 40px;
}

.profile-games-list {
    margin-top: 30px;
}

.game-list{
    flex-wrap: wrap;
    /* overflow-wrap: normal; */
}