.setting-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    height: 100px;
    background-color: whitesmoke;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 100px;
}