@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Slab');

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* margin: 0px 40px 0px 40px; */
    justify-content: space-around;
    align-items : center;
    /* background-image: url('https://farm4.staticflickr.com/3673/13148632635_94ff5a9989_b.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
}
.login-form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    /* background-color: whitesmoke; */
    padding: 2px;
    font-size: 20px;
    opacity: .9;
    /* border-radius: 10px; */
}

.form-BTN {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    /* border: 2px solid #3f50b5; */
    /* box-shadow: 10px 5px 10px gray; */
    background-color: #3f50b5;
    color: white;
}

.form-input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.side-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 42px 0 24px; */
    font-size: 28px;
    line-height: 36px;
    font-family: 'Light Slab', 'Roboto';
}

.inside-form{
    width: 50%
}
.h2-main {
    text-align: center;
    /* margin-bottom: 80px; */
    /* font-size: 35px; */
    font-family: 'Light Slab', 'Roboto';
    margin: 0px 15px 5px 15px;
}


@media (min-width: 700px){
    .form-BTN {
        width: 250px;
        height: 45px;
        /* border-radius: 20px; */
        margin-top: 10px;
        font-size: 30px;
    }
    .login-form {
        height: 60%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        /* background-color: whitesmoke; */
        /* padding: 2px; */
        font-size: 25px;
        /* border-radius: 10px; */
    }
    .form-input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
    }
}

@media (min-width: 1000px){
    .form-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        margin: 0px 40px 0px 40px;
    }
    .form-BTN {
        width: 320px;
        height: 35px;
        /* border-radius: 20px; */
        margin-top: 15px;
        font-size: 15px;
    }
    .login-form {
        margin-top: 100px;
        height: 70%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        /* background-color: whitesmoke; */
        /* padding: 2px; */
        font-size: 20px;
        /* border-radius: 10px; */
    }
    .form-input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 20px;
        width: 100%;
    }
    .h2-main {
        text-align: center;
        margin-bottom: 80px;
        font-size: 35px;
        font-family: 'Light Slab', 'Roboto';
        margin: 25px 0px 25px 0px;
    }
    .side-bar {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 42px 0 24px;
        font-size: 28px;
        line-height: 36px;
        font-family: 'Light Slab', 'Roboto';
    }
}