.main-match {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.friend-displays {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 8px;
}
.p {
    font-size: 30px;
    margin: 20px 0px;
}
.friend-images {
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.friend-pics {
    width: 70%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    margin-top: 25px;
    
}

.friend-info {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

.friend-names {
    font-size: 60px;
    margin-bottom: 20px;
}
.friend-bios {
    font-size: 30px;
}
.btn-flip {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
}


.btn-list {
    height: 60px;
    width: 300px;
    box-shadow: 10px 5px 10px gray;
    margin-bottom: 20px;
}


@media(min-width: 700px){
    .friend-display {
        width: 80%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border: 3px solid black;
        border-radius: 8px;
    }
    .friend-pics {
        width: 60%;
        height: 80%;
        border-radius: 50%;
        border: 1px solid black;
        object-fit: cover;
        margin-top: 25px;
        
    }
    .friend-names {
        font-size: 90px;
        margin-bottom: 20px;
    }
    .friend-bios {
        font-size: 40px;
    }
    .p {
        font-size: 50px;
        margin: 20px 0px;
    }
}

@media(min-width: 1000px){
    .friend-displays {
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border: 3px solid black;
        border-radius: 8px;
    }
    .friend-pics {
        width: 60%;
        height: 80%;
        border-radius: 50%;
        border: 1px solid black;
        object-fit: cover;
        margin-top: 25px;
        
    }
    .friend-names {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .friend-bios {
        font-size: 20px;
    }
    .p {
        font-size: 50px;
        margin: 20px 0px;
    }
}
