.main {
    width: 100%;
    height: 94vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;

}
.input-text {
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: 1px solid black;
}
.btn-send {
    height: 50px;
    width: 50px;
    color: blue;

}
.input-box {
    display: flex;
    width: 100%;
    /* height: 100%; */
    /* justify-content: flex-end; */
    align-items: flex-end;
    border: 3px solid black;
    bottom: 0px;
    position: absolute;
}